@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200;300;400&display=swap');

h1 {
    font-family: 'JetBrains Mono', Arial,  monospace;
    font-size: 4vw;
    color: #DDDDDD;
    letter-spacing: 3px;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 10vw;
    }
}